<%- include("partials/header"); -%>      <!--Using EJS to include layouts from view folder-->


<h1>About</h1>

<p> <%=aboutContent%> </p>         <!--passing over a variable on the request via EJS-->

<%- include('partials/footer'); -%>  
