<%- include("partials/header"); -%>      <!--Using EJS to include layouts from view folder-->


<h1>Contact</h1>

<p> <%=contactContent%> </p>         <!--passing over a variable on the request via EJS-->

<%- include('partials/footer'); -%>
