<%- include("partials/header"); -%>
<!--Using EJS to include layouts from view folder-->

<h1><%=postTitle%></h1>

<p><%=postContent%></p>
<!--passing over a variable on the request via EJS-->

%> <%- include('partials/footer'); -%>
